<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="/css/generic.css" rel="stylesheet" />
</head>
<body class="bg_blur">

   <div id="generic_body">
        @RenderBody()

    </div>
                

</body>
</html>
