@{
    Layout = "_GenericLayout";
    ViewData["Title"] = "Generic";
}
<div id="generic_main_container" >
    
    <div id="profile_photo">
        a
    </div>
	
    <div id="generic_header">
        <div>Inicio</div>
        <div>Ofertas</div>
        <div>Apliques</div>
        <div>Nombre de Alumno</div>
    </div>
    
    <div id="generic_central_panel">
        <div id="left_panel">LP</div>
        <div id="central_panel">CP</div>
        <div id="right_panel">RP</div>
    </div>

    <div id="generic_footer">
        <div id="left_footer">LF</div>
        <div id="central_footer">CF</div>
        <div id="right_footer">RF</div>
    </div>


</div>
